fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
pydantic[email]

celery
celery[redis]
redis

supabase
python-jose[cryptography]

google-generativeai
faster-whisper
Pillow
numpy
weasyprint
jinja2

requests
tenacity
python-magic
slowapi
